<div class="container mt-5">
  <h2 class="text-center">Project List</h2>

 
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Search projects..." #searchInput (input)="filterProjects(searchInput.value)" />
  </div>

  <div class="d-flex justify-content-between mb-3 create-button">
    @if(isAdmin()){
    <button class="btn btn-primary" routerLink="/project-form">+ Create Project</button>
    }
  </div>

  <ul class="list-group">
    @for(project of filteredProjects; track projects){
    <li class="list-group-item project-item">
      <div class="d-flex justify-content-between align-items-center">
        <div class="project-list-container">
          <p><b>Project Name:</b> {{ project.name }}</p>
          <p><b>Project Description:</b> {{ project.description }}</p>  
      
          @if(isAdmin()){
          <div class="project-actions">
              <a [routerLink]="['/project-form']" [queryParams]="{ id: project.id }" class="btn common-button">
                  Edit
              </a>
              <button class="btn common-button" (click)="deleteProject(project.id, project.name)">Delete</button>
          </div>
          }
      </div>
      
      </div>
    </li>
    }
  </ul>
</div>
